{{#if err}}
    <h2>Oops, picture was not found...</h2>
    <a href="/">Return home</a>
{{else}}
    <h2>{{pic.name}}</h2>
    <h2>Author: {{pic.author}}</h2>
    <h2>Tags: {{#each pic.tags}}{{this}}, {{/each}}</h2>
    <img src="/{{pic.name}}" alt="picture">
{{/if}}
