{{#if err}}
    <h2>Oops, picture was not found...</h2>
    <a href="/">Return home</a>
{{else}}
    <h2>{{pic.name}}</h2>
    <h2>Author: {{pic.author}}</h2>
    <h2>Tags: {{#each pic.tags}}{{this}}{{#unless @last}},{{/unless}} {{/each}}</h2>
    <button id="showform" type="button" class="btn btn-warning" name="">Edit Tags!</button>
    <form id="edittags" class="form-horizontal hidden" action="" method="post">
        <input type="text" class="hidden" name="tags" value="{{#each pic.tags}}{{this}} {{/each}}"placeholder="Add tags!">
        <button type="submit" class="hidden btn btn-success" name=""> Submit tags!</button>
    </form>
    <img src="/{{pic.name}}" alt="picture">
    <script type="text/javascript" src="/javascripts/picture.js"></script>
{{/if}}
